# OR107

In [8]:
import numpy as np
import pandas as pd 
import datetime
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
matplotlib.rcParams['figure.dpi'] = 130
from function import *

### 讀取資料

In [3]:
grades = pd.read_csv('../../data/OR107 grades.csv')
v_info = pd.read_excel('../../data/OR107 videos_sep.xlsx', sheet_name = 'video info')
records = pd.read_excel('../../data/OR107 videos_sep.xlsx', sheet_name = 'watching records')
student_id = pd.read_excel('../../data/OR107 videos_sep.xlsx', sheet_name = 'student id')

### 其中、期末成績

In [4]:
# 開一個 table 存等一下計算的資料
student_info = pd.DataFrame(data = grades.drop(0)['student_id'])
student_info['project'] = grades['Final project (2126)']
student_info['final'] = grades['Final Exam (2231)']

In [6]:
student_info = Addressing_Data(grades, v_info, records, student_info)

In [7]:
student_info

,student_id,project,final,total_watch_time,watch_freq,backward_sec,backward_times,forward_sec,forward_times,pause_freq,period 0,period 1,period 2,period 3,period 4,period 5,watched_video,avg_playback_rate
1,88,NaN,NaN,12633.775000,0.223206,361,10,47,1,6,7,0,0,4,0,8,19,1.161569
2,89,92.69,41.0,38527.933333,0.810799,3195,30,1427,32,4,3,0,1,16,11,12,43,1.400646
3,90,NaN,NaN,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000
4,91,NaN,NaN,19812.533333,0.513426,7868,419,1132,125,31,10,0,1,2,8,6,27,1.607265
5,92,NaN,NaN,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,166,94.76,70.0,3979.116667,0.093494,428,64,2596,340,7,1,0,0,5,6,4,16,1.686555
80,167,NaN,NaN,5726.700000,0.114359,82,1,0,0,0,1,0,0,3,5,1,10,1.328165
81,168,94.61,75.0,29035.216667,0.648963,5884,54,13649,213,3,14,13,0,5,7,9,48,1.499558
82,169,98.50,82.0,31742.950000,0.666878,1455,11,1519,11,4,13,0,15,23,3,4,58,1.417638
83,170,NaN,NaN,0.000000,0.000000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000

### 觀看時間、觀看速度、平均觀看次數

In [4]:
# 計算總觀看時間
total_spent_time = [] # 總觀看時間
total_watch_video_time = [] # 觀看的總影片時間

for i in student_info['student_id']:
    watch_record_i = records[records['student_id'] == int(i)]
    # 抓出有在看的資料
    real_watch_i = watch_record_i[(watch_record_i['end'] > watch_record_i['start']) & (watch_record_i['playback_rate'] != 0)]
    video_time_i = real_watch_i['end'] - real_watch_i['start']# 觀看紀錄 的 影片時間(end - start)
    total_watch_video_time.append(sum(video_time_i))
    total_spent_time.append(sum(video_time_i/real_watch_i['playback_rate']))

student_info['total_watch_time'] = total_spent_time

# 計算撥放速度
total_spent_time = [x if x!= 0 else 1 for x in total_spent_time]
avg_playback_rate = [i/j for (i,j) in zip(total_watch_video_time, total_spent_time)]
student_info['avg_playback_rate'] = avg_playback_rate

# 計算影片平均觀看次數
length_l = list(v_info['meta'])# length of each lecture
length_l = [int(i.split('n=>')[1].split('}')[0]) for i in length_l]
total_length_l = sum(length_l)
student_info['avg_freq'] = student_info['total_watch_time']/(total_length_l/student_info['avg_playback_rate'])

### 拖曳次數、拖曳時間長度

In [5]:
forward_sec = []
backward_sec =[]
forward_times = []
backward_times =[]

# backwards
backward_records = records[(records['start'] > records['end']) & (records['playback_rate'] ==0)]
for i in student_info['student_id']:
    backward_records_i = backward_records[backward_records['student_id'] == int(i)]
    backward_times.append(len(backward_records_i))
    backward_sec.append(sum(backward_records_i['start'] - backward_records_i['end']))
    

# forwards
forward_records = records[(records['start'] < records['end']) & (records['playback_rate'] ==0)]
for i in student_info['student_id']:
    forward_records_i = forward_records[forward_records['student_id'] == int(i)]
    #display(forward_records_i)
    forward_times.append(len(forward_records_i))
    forward_sec.append(sum(forward_records_i['end'] - forward_records_i['start']))
    
    
student_info['backward_sec'] = backward_sec
student_info['backward_times'] = backward_times
student_info['forward_sec'] = forward_sec
student_info['forward_times'] = forward_times

In [6]:
student_info

,student_id,project,final,total_watch_time,avg_playback_rate,avg_freq,backward_sec,backward_times,forward_sec,forward_times
1,88,NaN,NaN,12633.775000,1.161569,0.212223,370,13,54,4
2,89,92.69,41.0,38527.933333,1.400646,0.780402,3195,30,1436,36
3,90,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0
4,91,NaN,NaN,19812.533333,1.607265,0.460513,7988,449,1134,126
5,92,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
79,166,94.76,70.0,3979.116667,1.686555,0.097051,455,71,2596,340
80,167,NaN,NaN,5726.700000,1.328165,0.109994,82,1,0,0
81,168,94.61,75.0,29035.216667,1.499558,0.629655,5896,57,13649,213
82,169,98.50,82.0,31742.950000,1.417638,0.650769,1471,15,1519,11
83,170,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0

### Save data

In [7]:
student_info.to_excel('../../data/許哲/OR107.xlsx', index = False)

In [8]:
import statsmodels.formula.api as smf
result = smf.ols('final ~ avg_playback_rate', data = student_info).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  final   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.9342
Date:                Fri, 29 May 2020   Prob (F-statistic):              0.338
Time:                        23:06:30   Log-Likelihood:                -217.89
No. Observations:                  52   AIC:                             439.8
Df Residuals:                      50   BIC:                             443.7
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            57.9626     13.795      4.202      0.000      30.255      85.670
avg_playback_rate     8.8504      9.157      0.967      0.338      -9.542      27.243
==============================================================================
Omnibus:                        3.425   Durbin-Watson:                   1.842
Prob(Omnibus):                  0.180   Jarque-Bera (JB):                3.248
Skew:                          -0.596   Prob(JB):                        0.197
Kurtosis:                       2.719   Cond. No.                         13.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.