In [1]:
import pandas as pd

In [2]:
DSAP107 = pd.read_excel('../../data/許哲/DSAP107.xlsx')
DSAP108 = pd.read_excel('../../data/許哲/DSAP108.xlsx')
OR107 = pd.read_excel('../../data/許哲/OR107.xlsx')

In [3]:
DSAP107_p = pd.read_excel('../../data/data2.0/pause_frequency/pause_frequency_week_DSAP 107.xlsx')
DSAP108_p = pd.read_excel('../../data/data2.0/pause_frequency/pause_frequency_week_DSAP 108.xlsx')
OR107_p = pd.read_excel('../../data/data2.0/pause_frequency/pause_frequency_week_OR 107.xlsx')

In [4]:
DSAP107_p = DSAP107_p.rename(columns = {0:'student_id', 'Total':'pause_freq'})
DSAP108_p = DSAP108_p.rename(columns = {0:'student_id', 'Total':'pause_freq'})
OR107_p = OR107_p.rename(columns = {0:'student_id', 'Total':'pause_freq'})

In [5]:
DSAP107 = DSAP107.merge(DSAP107_p[['student_id', 'pause_freq']])
DSAP108 = DSAP108.merge(DSAP108_p[['student_id', 'pause_freq']])
OR107 = OR107.merge(OR107_p[['student_id', 'pause_freq']])

In [7]:
# save data
DSAP107.to_excel('../../data/許哲/DSAP107.xlsx', index = False)
DSAP108.to_excel('../../data/許哲/DSAP108.xlsx', index = False)
OR107.to_excel('../../data/許哲/OR107.xlsx', index = False)

In [8]:
OR107

,student_id,project,final,total_watch_time,avg_playback_rate,avg_freq,backward_sec,backward_times,forward_sec,forward_times,pause_freq
0,88,NaN,NaN,12633.775000,1.161569,0.212223,370,13,54,4,56
1,89,92.69,41.0,38527.933333,1.400646,0.780402,3195,30,1436,36,219
2,90,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0,0
3,91,NaN,NaN,19812.533333,1.607265,0.460513,7988,449,1134,126,0
4,92,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
78,166,94.76,70.0,3979.116667,1.686555,0.097051,455,71,2596,340,241
79,167,NaN,NaN,5726.700000,1.328165,0.109994,82,1,0,0,33
80,168,94.61,75.0,29035.216667,1.499558,0.629655,5896,57,13649,213,532
81,169,98.50,82.0,31742.950000,1.417638,0.650769,1471,15,1519,11,673
82,170,NaN,NaN,0.000000,0.000000,0.000000,0,0,0,0,0

In [10]:
data = OR107[OR107['final'] != 0]
import statsmodels.formula.api as smf
result = smf.ols('final ~ avg_playback_rate + total_watch_time + pause_freq', data = data).fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  final   R-squared:                       0.040
Model:                            OLS   Adj. R-squared:                 -0.020
Method:                 Least Squares   F-statistic:                    0.6669
Date:                Fri, 29 May 2020   Prob (F-statistic):              0.576
Time:                        23:12:45   Log-Likelihood:                -217.31
No. Observations:                  52   AIC:                             442.6
Df Residuals:                      48   BIC:                             450.4
Df Model:                           3
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            64.8876     15.466      4.195      0.000      33.791      95.984
avg_playback_rate     7.7010      9.319      0.826      0.413     -11.035      26.437
total_watch_time     -0.0002      0.000     -0.877      0.385      -0.001       0.000
pause_freq           -0.0002      0.004     -0.055      0.957      -0.008       0.008
==============================================================================
Omnibus:                        2.974   Durbin-Watson:                   1.757
Prob(Omnibus):                  0.226   Jarque-Bera (JB):                2.807
Skew:                          -0.508   Prob(JB):                        0.246
Kurtosis:                       2.488   Cond. No.                     2.35e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.35e+05. This might indicate that there are
strong multicollinearity or other numerical problems.