In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('D:\python statistic\data\OR108 grades.csv')

print('Head of dataset:')
display(df1.head())

print("Tail of dataset:")
display(df1.tail())

Head of dataset:

,student_id,Section,Homework 1 (5323),Homework 2 (5324),Lecture problems for Lecture 2 (6960),Lecture problems for Lecture 3 (7183),Lecture problems for Lecture 4 (8211),Lecture problems for Lecture 5 (9672),Lecture problems for Lecture 6 (10335),Lecture problems for Lecture 7 (10924),Lecture problems for Lecture 8 (11901),Lecture problems for Lecture 9 (12376),Case Assignment 1 (6701),Case Assignment 2 (9742),Final project Final Points,Exams Final Points
0,Points Possible,NaN,100.0,100.0,10.0,10.0,10.0,10.0,10.0,10,10,10,100.0,100.0,(read only),(read only)
1,8,作業研究 Operations Research,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,NaN,0,0
2,9,作業研究 Operations Research,58.0,NaN,10.0,6.0,9.0,10.0,10.0,10,5,10,63.5,NaN,0,0
3,10,作業研究 Operations Research,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,96.0,0,0
4,11,作業研究 Operations Research,NaN,NaN,10.0,6.0,10.0,10.0,10.0,10,10,9,NaN,NaN,0,0

Tail of dataset:

,student_id,Section,Homework 1 (5323),Homework 2 (5324),Lecture problems for Lecture 2 (6960),Lecture problems for Lecture 3 (7183),Lecture problems for Lecture 4 (8211),Lecture problems for Lecture 5 (9672),Lecture problems for Lecture 6 (10335),Lecture problems for Lecture 7 (10924),Lecture problems for Lecture 8 (11901),Lecture problems for Lecture 9 (12376),Case Assignment 1 (6701),Case Assignment 2 (9742),Final project Final Points,Exams Final Points
102,109,作業研究 Operations Research,71.0,NaN,10.0,5.0,10.0,10.0,10.0,0,10,0,76.16,88.0,0,0
103,110,作業研究 Operations Research,88.0,NaN,8.0,0.0,10.0,10.0,8.0,7,10,10,78.07,96.0,0,0
104,111,作業研究 Operations Research,69.0,NaN,0.0,3.0,10.0,6.0,10.0,9,10,10,82.70,100.0,0,0
105,112,作業研究 Operations Research,83.0,NaN,3.0,10.0,10.0,10.0,8.0,10,7,9,90.05,98.0,0,0
106,113,作業研究 Operations Research,75.0,NaN,3.0,10.0,10.0,10.0,10.0,10,8,10,82.06,96.0,0,0

In [3]:
df1 = df1.fillna(0)
df1

,student_id,Section,Homework 1 (5323),Homework 2 (5324),Lecture problems for Lecture 2 (6960),Lecture problems for Lecture 3 (7183),Lecture problems for Lecture 4 (8211),Lecture problems for Lecture 5 (9672),Lecture problems for Lecture 6 (10335),Lecture problems for Lecture 7 (10924),Lecture problems for Lecture 8 (11901),Lecture problems for Lecture 9 (12376),Case Assignment 1 (6701),Case Assignment 2 (9742),Final project Final Points,Exams Final Points
0,Points Possible,0,100.0,100.0,10.0,10.0,10.0,10.0,10.0,10,10,10,100.00,100.0,(read only),(read only)
1,8,作業研究 Operations Research,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.00,0.0,0,0
2,9,作業研究 Operations Research,58.0,0.0,10.0,6.0,9.0,10.0,10.0,10,5,10,63.50,0.0,0,0
3,10,作業研究 Operations Research,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0.00,96.0,0,0
4,11,作業研究 Operations Research,0.0,0.0,10.0,6.0,10.0,10.0,10.0,10,10,9,0.00,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,109,作業研究 Operations Research,71.0,0.0,10.0,5.0,10.0,10.0,10.0,0,10,0,76.16,88.0,0,0
103,110,作業研究 Operations Research,88.0,0.0,8.0,0.0,10.0,10.0,8.0,7,10,10,78.07,96.0,0,0
104,111,作業研究 Operations Research,69.0,0.0,0.0,3.0,10.0,6.0,10.0,9,10,10,82.70,100.0,0,0
105,112,作業研究 Operations Research,83.0,0.0,3.0,10.0,10.0,10.0,8.0,10,7,9,90.05,98.0,0,0
106,113,作業研究 Operations Research,75.0,0.0,3.0,10.0,10.0,10.0,10.0,10,8,10,82.06,96.0,0,0

In [6]:
df2 = [df1['student_id']]
df2 = pd.DataFrame(df2)
df2 = df2.T
df2 = df2.drop(df2.index[[0]])
df2['avg_week_result'] = 0 
df2

    student_id  avg_week_result
1            8                0
2            9                0
3           10                0
4           11                0
5           12                0
..         ...              ...
102        109                0
103        110                0
104        111                0
105        112                0
106        113                0

[106 rows x 2 columns]

In [10]:
for i in range(1,107):
    
             df2['avg_week_result'][i]= ( df1['Lecture problems for Lecture 2 (6960)'][i]
                                         + df1['Lecture problems for Lecture 3 (7183)'][i]+ df1['Lecture problems for Lecture 4 (8211)'][i] 
                                         + df1['Lecture problems for Lecture 5 (9672)'][i]+ df1['Lecture problems for Lecture 6 (10335)'][i] 
                                         +df1['Lecture problems for Lecture 7 (10924)'][i] +df1['Lecture problems for Lecture 8 (11901)'][i] 
                                         + df1['Lecture problems for Lecture 9 (12376)'][i] ) /8

C:\Users\dlkk9\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [11]:
pd.set_option('display.max_rows', df2.shape[0]+1)
df2

    student_id  avg_week_result
1            8                0
2            9                8
3           10                0
4           11                9
5           12                0
6           13                0
7           14                0
8           15                0
9           16                0
10          17                8
11          18                6
12          19                0
13          20                6
14          21                9
15          22                8
16          23                8
17          24                0
18          25                9
19          26                9
20          27                0
21          28                0
22          29                9
23          30                4
24          31                7
25          32                8
26          33                9
27          34                8
28          35                0
29          36                9
30          37                7
31          38                8
32          39                9
33          40                9
34          41                7
35          42                7
36          43                0
37          44                7
38          45                9
39          46                8
40          47                0
41          48                7
42          49                0
43          50                0
44          51                0
45          52                8
46          53                7
47          54                8
48          55                9
49          56                0
50          57                0
51          58                6
52          59                5
53          60                8
54          61                0
55          62                9
56          63                6
57          64                0
58          65                7
59          66                0
60          67                0
61          68                0
62          69                0
63          70                1
64          71                8
65          72                7
66          73                4
67          74                0
68          75                9
69          76                7
70          77                0
71          78                8
72          79                8
73          80                0
74          81                8
75          82               10
76          83                0
77          84                0
78          85                0
79          86                8
80          87                0
81          88                8
82          89                9
83          90                8
84          91                9
85          92                9
86          93                0
87          94                8
88          95                7
89          96                9
90          97                7
91          98                8
92          99                0
93         100                7
94         101                0
95         102                5
96         103                9
97         104                3
98         105               10
99         106                0
100        107                0
101        108                7
102        109                6
103        110                7
104        111                7
105        112                8
106        113                8

In [12]:
df2.to_excel(r'D:\python statistic\data\avg_week_result_OR 108.xlsx', index = False)